footer {
  background-color: rgb(252, 252, 252);
  a:not([class]) {
    text-decoration: none;
  }
  ul, ol {
    list-style-type:none;
    padding-inline-start:0px;
    margin: 12px;
    margin-left: 0px;
  }

  .container {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // .social-menu {
    //   a {
    //     background-color: $lf-orange;
    //     color:white;
    //     border: 1px solid $lf-orange;
    //     font-size:1rem;
    //     text-align:center;
    //     height: 2.1875rem;
    //     width: 2.1875rem;


    //   }
    // }
  }
  .footer-links {
    display: flex;
    justify-content: space-around;
    span {
      font-weight: bold;
      color:$lf-orange;
      margin: 10px;
    }

    .Resources, .about-footer-menu{
      padding: 10px;
      .intermediate-menu {
        display:flex;
        flex-direction: row;
        align-items: space-around;
        span {
          color: #8ba1b0;
          font-weight:bold;
        }
        .sub-menu {
          span {
            color: #222c33;
            font-weight:normal;
          }
        }
        #ot-sdk-btn  {
          border: none !important;
          background: transparent;
          color: #222c33;
          display: inline-block;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.3;
          border: none;
          padding: 0;
          margin-left:10px;

        }
      }


    }
  }

  .social-menu {
    display: block;
    ul {
        list-style-type:none;
        display: flex;
        flex-direction: row;
        li {
            margin:10px;
        }

    }
}
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal !important;
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
